.outcome{
  font-style: italic;
}
.score{
  width: 85%;
  float:right;
}
body{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding:1em;
  background-color: #efefef;
}

html{
  background-color: #333;
}
